.container{
    margin:auto;
    width:80%;
    text-align:center;
}

.tabela{
     margin:auto;
     width:80%;
     text-align: center !important;
}

.info{
    font-size:20px;
    margin-bottom:10px;
    text-align: center !important;
}

.btn{
    width:10%;
}

#formDelete{
    margin:0;
    padding:0;
}

.padrao{
    width: 20% !important;
    margin-top: 10px;
}