/*
    Configurações da tela principal
*/
.container{
    width:80%;
    text-align:center;
}

.tabela{
    margin:auto;
}

.acao{
    width:30%;
    float:right;
    margin-left:10px;

}

.deleteForm{
    margin:0;
    padding:0;
}

.showForm{
    margin: 0;
    padding: 0;
}

.perguntas{
    display: none;
}
/*
    Configurações modal
*/

.checklistInfo span{
    font-weight: bolder;
    margin-left:10px;
}
.checklistInfo{
    text-align:left;
    margin-left:50px;
    font-size:20px;
}

.checklistInfo .row{
    margin-bottom:10px;
}

.categoriaT{
    width: 40%;
}

#busca{
    width:430px;
    height: 35px;
}

#searchIcon{
    margin-left:10px;
    width:50px;
    height:50px;
}