.container{
    margin: 0;
    padding: 0;
    width: 70%;
    margin: auto;
    text-align: center;
}

.table{
    text-align: left !important;
    width: 90%;
    margin: auto;
}

#formAdd{
    margin:0;
    padding:0;
}

.botao{
    width: 30%;
    float:right;
    margin-left:10px;
}

.btn-primary{
    width: 30%;
}

#type{
    width: 40%;
    margin: auto !important;
}