.container{
    width: 100%;
    margin: auto;
    text-align: center;
}

form{
    width:40%;
    margin: 0 !important;
    padding: 0 !important;
    margin: auto !important;
}

form label{
    float: left;
    margin-bottom: 4%;
    margin-top: 4%;
}

form select{
    margin-top: 4%;
    float: left;
    margin-left: 5%;
}

form .btn{
    margin: auto !important;
    width: 40%;
    margin-top: 5%;
}