.container{
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    margin: auto !important;
    text-align: center !important;
}

form{
    width: 90%;
    text-align: center !important;
    margin: 0;
    padding: 0;
}

form input{
    width:46%;
    margin-bottom: 2%;
}

form label{
    text-align: right !important;
    width: 15%;
    margin-bottom: 2%;
    margin-right: 20px !important;
}

.salvar{
    margin: auto !important;
    margin-left: 200px !important;
    width: 18%;
}

.selects{
     margin-left: 100px !important;
}

.opcoes{
    margin: 0 !important;
    padding: 0 !important;
    width: 10%;
}

#equipamentoSelect{
    display: none;
}

