.container{
    width: 80%;
    margin: auto;
    text-align: center;
}

form{
    margin: 0;
    padding: 0;
}

form input{
    width:60%;
    margin-bottom: 2%;
}

form label{
    text-align: left;
    margin-bottom: 2%;
}


