#titulo{
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

#itens{
    width: 80%;
    font-size: 20px;
}

.conteudo{
    margin-top: 30px !important;
    width: 30%;
    margin: auto;
    text-align: center;
}

.alterar{
    width: 40%;
    margin-left: 80px !important;
}

label{
    float: left;
}

fieldset{
    margin: auto;
    margin-right: 100px;
    margin-top: 20px;
    display: none;
}
.senhas{
    width: 40%;
}

fieldset label{
    font-size: 17px;
}

.senhaItens{
    margin: auto !important;
    margin-top: 20px;
    margin-bottom: 25px !important;
}

.senhaItens input{
    width: 53%;
}

#enviar{
    text-align: center;
    width: 53%;
    margin-left: 125px;
}
#voltar{
    margin-top: 10px;
    text-align: center;
    width: 53%;
    margin-left: 125px;
}