

        /* Configurações gerais */


body{
    margin: 0;
    padding: 0;
    width: 100% !important;
}

hr{
    height: 2px;
    background-color: #000;
}
.topo{
    margin: auto;
    width: 100% !important;
}

.icon{
    width:12%;
    margin: auto;
    padding-bottom: 1%;
}

.menu{ 
    width: 100% !important;
    padding-top:2%;
    margin: auto;
    position: block;
    background-color: rgb(255, 52, 52);
    text-align: center;

}

.active{
    border-radius:10px;
    border-bottom: 15px solid white;
}

.menu ul{
    width: 100% !important;
    margin: 0;
    padding: 0;
    padding-top: 1%;

}
.menu ul li{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
    margin-left:4%;
    margin-right:4%;
}

.page-title{
    position: block;
    background:rgba(86, 30, 26, 1);
    width: 100%;
    color: white;
    text-align: center;
    min-height: 6%;
    font-size: 70px;
    margin: auto;
}

.conteudo{
    width: 100% !important;
}